In [1]:
import pandas as pd
pd.__version__

'1.3.4'

In [2]:
import numpy as np
np.__version__

'1.20.3'

In [7]:
s1 = pd.Series([1,3,5])
s1
from pandas import Series, DataFrame
s1 = Series([2,4,6])
s1
m1 = pd.Series(['홍','김','박'])
m1

0    홍
1    김
2    박
dtype: object

In [8]:
m1[0]

'홍'

In [9]:
m1.index

RangeIndex(start=0, stop=3, step=1)

In [21]:
m1 = pd.Series(
    ['홍','김','박'],
    index=list('abc'))

# for i in m1.index :
#     print(i,m1[i])

m1['a']
m1[0]

'홍'

In [24]:
m1 = pd.Series(['홍','김','박'],)
m1.index = list('abc')
m1.values

array(['홍', '김', '박'], dtype=object)

In [25]:
m1.shape, m1.ndim

((3,), 1)

In [26]:
m1[ ['c','a' ]]

c    박
a    홍
dtype: object

In [27]:
m1[ [True,False,True] ]

a    홍
c    박
dtype: object

In [29]:
m1[ m1 == '홍']

a    홍
dtype: object

In [37]:
print(s1.sum())
print()
print(s1.isna())
print()
print(s1.isna().sum())  # True = 1 / False = 0

12

0    False
1    False
2    False
dtype: bool

0

In [42]:
s2 = pd.Series(
    np.arange(1,11),
    index = list("abcdefghij")
)
print(s2[3:7])
print(s2['d':'g'])

d    4
e    5
f    6
g    7
dtype: int32
d    4
e    5
f    6
g    7
dtype: int32